@using Sitecore.Mvc

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="~/sitecore modules/SitecoreSafe/style/plugin.css" rel="stylesheet" />

    <title>Sitecore safe</title>
</head>
<body>
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <div class="container">
        @Html.Sitecore().Placeholder("SitecoreSafe")
    </div>
    <script src="~/sitecore modules/SitecoreSafe/script/plugins.min.js"></script>
    <script src="~/sitecore modules/SitecoreSafe/script/sitecore-safe.js"></script>
    <script src="~/sitecore modules/SitecoreSafe/script/test.js"></script>
</body>
</html>