<!--Navigation menu-->
<div class="row py-5 pt-5">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="configuration-tab" data-bs-toggle="tab" data-bs-target="#configuration" type="button" role="tab" aria-controls="configuration" aria-selected="true">
                Configuration
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="url-tab" data-bs-toggle="tab" data-bs-target="#url" type="button" role="tab" aria-controls="url" aria-selected="true">
                Url
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="security-header-tab" data-bs-toggle="tab" data-bs-target="#security-header" type="button" role="tab" aria-controls="security-header" aria-selected="false">
                Headers
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="validation-attribute-tab" data-bs-toggle="tab" data-bs-target="#validation-attribute" type="button" role="tab" aria-controls="validation-attribute" aria-selected="false">
                Attribute
            </button>
        </li>
    </ul>
</div>

<!--Navigation body-->
<div class="row py-1">
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="configuration" role="tabpanel" aria-labelledby="configuration-tab">

            <div class="accordion accordion-flush" id="accordionFlushExample">
                <!--Accordion configuration Group setting-->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            URL configuration
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">                           
                            <div id="url-config-grid" class="py-5 pt-5"></div>
                        </div>
                    </div>
                </div>                

            </div>
        </div>
        <div class="tab-pane fade" id="url" role="tabpanel" aria-labelledby="url-tab">

            <div class="accordion accordion-flush" id="accordionFlushExample">
                <!--Accordion URL Group setting-->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Group setting
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">                          
                            <div id="url-group-grid" class="py-5 pt-5"></div>
                        </div>
                    </div>
                </div>
                <!--Accordion URL Url specific setting-->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Domain specific setting
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title"></h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Domain specific setting.</h6>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                            <div id="url-domain-grid" class="py-5 pt-5"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="tab-pane fade" id="security-header" role="tabpanel" aria-labelledby="security-header-tab">security-header</div>
        <div class="tab-pane fade" id="validation-attribute" role="tabpanel" aria-labelledby="validation-attribute-tab">validation-attribute</div>
    </div>
</div>